/* FONTES PARA LANDING PAGE */

/* font-family: 'Bebas Neue', cursive;
font-family: 'Courier Prime', monospace; */

/* CORES PARA LANDING PAGE */

/*
Preto #010010
Azul Escuro #080324;
Roxo #340B65;
Roxo Claro #A259F7;
Rosa #DA40B1
Amarelo #FFAF00
Vermelho #F9003D
Branco #FFFFFF
*/

@font-face {
   font-family: BebasNeue;
   src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
   font-family: CourierNew ;
   src: url(../fonts/courier-new.ttf);
}

@font-face {
   font-family: OpenSans;
   src: url(../fonts/OpenSans-Regular.ttf);
}

/* Reset */

* {margin: 0;
padding: 0;
box-sizing: border-box;}

/* Box div */
.layout-grid {width: 100%;
max-width: 1200px;
margin: 0 auto;}

.h3titleform {font-family: CourierNew;
font-weight: 700;
font-size: 24px;
color: white;}

.articletextform {text-transform: uppercase;
font-family: CourierNew;
font-weight: 700;
font-size: 28px;
line-height: 32px;}

.mainarticlesform {background-color: #010010;
   color: #A259F7;
border: 1px solid #A259F7;
padding: 38px 33px;
width: 289px;}




.h1tituloform {font-family: BebasNeue;
   color: #FFAF00;
   font-size: 96px;
   font-weight: 400;
   margin-bottom: 29px;
   text-transform: uppercase;}

   .texto {font-family: OpenSans;
      font-weight: 400;
   font-size: 15px;
   color: white;}

   

/* HEADER */

header {background-color: #F9003D;
width: 100%;
height: 60px;}

/* Box header */
.header-flex {display: flex;
   justify-content: flex-end;
   height: 100%;
   }

/* links de nav */

header a {text-decoration: none;
color: white;
font-family: BebasNeue;
font-weight: 400;
font-size: 18px;
letter-spacing: 2px;
}

header a:hover {text-shadow: 2px 2px 10px yellow;}

/* div nav para links */

header nav {display: flex;
   justify-content: space-between;
   align-items: center;
   width: 623px;
   }

 


/* MAIN */

main {background-color: gray;
width: 100%;
}

main h2 {font-family: CourierNew;
   color: #F9003D;
   font-weight: 700;
   font-size: 53px;
   }

.bannermain {background-image: url(../Assets/imagem-fundo-banner\ 1.png);}

.wallpaper {background-image: url(../Assets/imagem-fundo-info\ 1.png);}




.sectionmaincolor {background-color: #080324;}

#titulomainpg1 {font-family: BebasNeue;
color: white;
font-size: 96px;
font-weight: 400;
border-bottom: solid 1px #FFAF00;
margin-bottom: 29px;}

#titulomainpage2 {font-family: BebasNeue;
   color: #F9003D ;
   font-size: 64px;
   font-weight: 400;
   display: flex;
   align-self: flex-start;
   margin-bottom: 25px;
   }

#titulomainpage3 {font-family: CourierNew;
   color: white;
   font-weight: 700;
   font-size: 24px;
   margin-bottom: 25px}

#titulomainpage4 {font-family: BebasNeue;
   color: #FFAF00 ;
   font-size: 64px;
   font-weight: 400;
   margin-bottom: 25px}

.main-flex {display: flex;
   justify-content:center;
   align-items:flex-start;
   flex-direction: column;
   text-transform: uppercase;
   height: 740px;
   }

.main-flex2 {display: flex;
   justify-content:center;
   align-items:flex-end;
   flex-direction: column;
   text-transform: uppercase;
   height: 800px;}


  .main-flex3 {display: flex;
   justify-content: space-around;
   align-items:center;
   flex-direction: row;
   text-transform: uppercase;
   height: 202px;}
   
   /* ENDEREÇO (MAIN) */
   .endereço-flex {display: flex;
      justify-content: center;
      align-items:center;
      flex-direction: column;
      height: 518px;}

   #mapimageposition {position: relative;
      bottom: 45px;}

      .textendereçoform {color: #A259F7;
         border: 1px solid #340B65;
         padding: 38px 33px;
         width: 900px;
         height: 203px;
      font-family: CourierNew;
      font-weight: 400;
      font-size: 24px;
      line-height: 27.19px;
      display: flex;
      justify-content: space-between;
      align-items: center;}

      .wallpaper-endereço {background-image: url(../Assets/imagem-fundo-ranking\ 2.png);}

.sectionposition {width: 605px;
   height: 475px;
   display: flex;
   flex-direction: column;
align-items: flex-start;
justify-content: center;}

/* FOOTER */

footer {background-color: #F9003D;
   width: 100%;
   height: 82px;}

   .footer-flex {height: 82px;
      display: flex;
      justify-content: center;
      align-items: center;}

   .copyrighttext {font-family: OpenSans;
   font-weight: 400;
font-size: 18px;
text-transform: lowercase;
color: white;}



/* ICONS */

   #mouseicon {margin-top: 25px;}